%h1 Choose Your Reference Type
.panel-reminder.text-center
	%p 
		This site allows you to easy create a Havard UTS reference for websites, books, book chapters, and journals. 
		%br
		The guideliens are taken from
		=link_to "here.", "https://www.lib.uts.edu.au/help/referencing/harvard-uts-referencing-guide"
		The site was last updated on October 27, 2014

.home-center.text-center
	=link_to new_website_path do
		.home-box.pull-left
			%h4 Website Reference
			=image_tag("website-white.png", style: "width: 100px;")
	.home-break.pull-left
		&nbsp;

	=link_to new_book_path do
		.home-box.pull-left
			%h4 Book Reference
			=image_tag("book-white.png", style: "width: 100px;")
		
	.home-break.pull-left
		&nbsp;

	=link_to new_chapter_path do
		.home-box.pull-left
			%h4 Book Chapter Reference
			=image_tag("chapter-white.png", style: "width:100px;")
		
	.home-break.pull-left
		&nbsp;

	=link_to new_journal_path do 
		.home-box.pull-left
			%h4 Journal Reference
			=image_tag("journal-white.png", style: "width: 100px;")
			
	.clearfix

