%h1 Choose Your Reference Type
%p 
	=link_to "Website Reference", new_website_path
%p 
	=link_to "Book Reference", new_book_path
%p 
	=link_to "Book Chapter Reference", new_chapter_path
%p 
	=link_to "Journal Reference", new_journal_path


