<div class="navbar-header">
	<ul class="nav">
		<%= link_to(root_path, :class => 'brand', style: 'max-width:25px;')  do %>
			<%= image_tag('school.png', style: "max-width: 90px;") %>
		<% end %>
		UTS Havard Reference Guide by
		<%=link_to "Ben Gruber", "http://www.bengruber.me" %>
		<li class="hide"><%= link_to 'About', pages_about_path %></li>
	</ul>
</div>